{% extends 'shared/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/quotes_main.css' %}">
{% endblock %}

{% block site_heading %}
    <h1 class="masthead-heading mb-0">Edit Profile</h1>
{% endblock %}

{% block site_content %}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">

            <form class="quote-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ u_form.as_p }}
                {{ p_form.as_p }}
                <button class="add-quote-btn" type="submit">Edit</button>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}
