{% extends 'shared/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/create_quote.css' %}">
{% endblock %}

{% block site_heading %}
    <h1 class="masthead-heading mb-0">Sign In</h1>
{% endblock %}

{% block site_content %}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">

            <form method="post" action="{% url 'login' %}" class="quote-form">
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}

                    </div>
                {% endfor %}
                {% csrf_token %}
                {{ login_form.as_p }}

                <button type="submit" class="add-quote-btn">Sign In</button>
                <span style="color: black; font-size: 19px">Do not have an account?  <a style="color:orange"
                                                href="{% url 'register' %}">Sign up here</a></span>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}
