{% extends 'shared/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/quotes_list.css' %}">
{% endblock %}

{% block site_heading %}
    {% if quotes %}
    <h1 class="masthead-heading mb-0">My Quotes</h1>
    {% else %}
        <h2 class="masthead-subheading mb-0">You have not added any quotes yet Click the button below to add one</h2>
        <a href="{% url 'create quote' %}" class="btn btn-primary btn-xl rounded-pill mt-5">Add Quote</a>
    {% endif %}
{% endblock %}

{% block site_content %}
    {% if quotes %}
        {% for quote in quotes %}
            <section>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="{% cycle 'col-lg-6 order-lg-2' 'col-lg-6' %}">
                            <div class="p-5">
                                {% if quote.image %}
                                    <img class="img-fluid rounded-circle" src="{{ quote.image.url }}" alt=".">
                                {% else %}
                                    <img class="img-fluid rounded-circle"
                                         src="{% static 'images/no_author_placeholder.png' %}" alt=".">
                                {% endif %}
                            </div>
                        </div>
                        <div class="{% cycle 'col-lg-6 order-lg-1' 'col-lg-6' %}">
                            <div class="p-5">
                                <h2 class="display-4 quote-author">{{ quote.author|upper }}</h2>
                                <a href="{% url 'quote details' quote.pk %}" class="quote"><p>"{{ quote.text }}"</p></a>
                                <h2 class="masthead-subheading mb-0">{{ quote.like_set.count }} Quote Points</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
    {% endif %}
{% endblock %}
