{% extends 'shared/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/quote_details.css' %}">
{% endblock %}

{% block site_heading %}
    <h1 class="masthead-heading mb-0">QUOTE #{{ quote.pk }}</h1>
    <h2 class="masthead-subheading mb-0">{{ quote.like_set.count }} Quote Points</h2>
    {% if is_liked %}
        <span class="like-buttons-two"><a href="{% url 'like quote' quote.id %}">&#x1F4D6;</a></span>
    {% else %}
        <span class="like-buttons"><a href="{% url 'like quote' quote.id %}">&#x1F4D9;</a></span>
    {% endif %}

{% endblock %}

{% block site_content %}
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        {% if quote.image %}
                            <img class="img-fluid rounded-circle" src="{{ quote.image.url }}" alt=".">
                        {% else %}
                            <img class="img-fluid rounded-circle"
                                 src="{% static 'images/no_author_placeholder.png' %}" alt=".">
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4 quote-author">{{ quote.author|upper }}</h2>
                        <p class="quote">"{{ quote.text }}"</p>

                        {% if is_user_author_or_admin %}
                            <a href="{% url 'edit quote' quote.pk %}" class="btn edit-btn">Edit quote</a>
                            <a class="btn delete-btn" href="{% url 'delete quote' quote.pk %}">Delete quote</a>
                        {% endif %}
                        <div class='container2'>
                            <div>
                                <a href="{% url 'user profile' quote.user.user_id %}">
                                    {% if quote.user.profile_picture %}
                                        <img src="{{ quote.user.profile_picture.url }}" alt="."
                                             class='iconDetails'>
                                    {% else %}
                                        <img src="{% static 'images/no_author_placeholder.png' %}" alt="."
                                             class='iconDetails'>
                                    {% endif %}
                                </a>
                            </div>
                            <div style='margin-left:60px;'>
                                <a href="{% url 'user profile' quote.user.user_id %}">
                                    <h4 class="user-name">
                                        {{ quote.user.user.first_name }} {{ quote.user.user.last_name }}
                                    </h4>
                                </a>
                                <div style="font-size: 1em; color: white; font-weight: 300;">
                                    {{ quote.user.quote_set.count }} quotes
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
