{% extends 'shared/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/quotes_list.css' %}">
{% endblock %}

{% block site_heading %}
    Quotes
{% endblock %}

{% block site_content %}
    {% if quotes %}
        <div class="card-columns">
            {% for quote in quotes %}
                <div class="card bg-primary text-white text-center p-3">
                    <blockquote class="blockquote mb-0">
                        <a class="" href="#"><p>{{ quote.text }}</p></a>
                        <footer class="blockquote-footer text-white">
                            <small class="author-name">
                                {{ quote.author|upper }}
                            </small>
                        </footer>
                    </blockquote>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1>You have not added any quotes yet. Go to <a href="#">this link</a> to add one</h1>
    {% endif %}
{% endblock %}
