{% extends 'shared/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/quote_details.css' %}">
{% endblock %}

{% block site_heading %}
    QUOTE #{{ quote.pk }}
{% endblock %}

{% block site_content %}
    {% if quote %}
        <div class="card">
            <div class="card-header">
                Posted by <a href="{% url 'user profile' quote.user.user_id %}">{{ quote.user }}</a>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>"{{ quote.text }}"</p>
                    <footer class="blockquote-footer">
                        {{ quote.author }}
                    </footer>
                    {% if is_user_author_or_admin %}
                        <a type="button" href="{% url 'edit quote' quote.pk %}" class="btn btn-success bttn">Edit quote</a>
                        <a class="btn btn-danger bttn" href="{% url 'delete quote' quote.pk %}" >Delete quote</a>
                    {% endif %}
                    {% if quote.image_url %}
                        <img src="{{ quote.image_url }}" alt="..." style="border: 1px solid gray;">
                    {% else %}
                        <img src="{% static 'images/no_author_placeholder.png' %}" alt="" style="border: 1px solid gray;">
                    {% endif %}
                </blockquote>
            </div>
        </div>
    {% else %}
        <h1>You have not added any quotes yet. Go to <a href="#">this link</a> to add one</h1>
    {% endif %}
{% endblock %}
