.quote-form {
    border: 1px solid orange;
    padding: 5% 6%;
    margin: 5% 0;
}

.form-label {
    color: orange;
}

.add-quote-btn {
    border: 1px solid orange;
    background-color: #85144B;
    color:orange;
    margin: 20px 285px;
    font-weight: bold;
}

.add-quote-btn:hover {
    color: darkorange;
    border-color: darkorange;
}

label {
    color: orange;
}

span {
    color: orange;
}

form li {
    color: orange;
}
