img {
    width: 250px;
    float: right;
}

.bttn {
    margin-top: 50px;
}

.card {
    margin-bottom: 20px;
}

.card-header a{
    color: orange;
}

.card-header a:hover {
    text-decoration: none;
    color: #A9A9A9;
}

.card-header {
    background-color: #474747;
    color: white;
}
