a:hover {
    text-decoration: none;
    color: #A9A9A9;
}

.quote {
    color: #fff;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: bold;
}

.quote-author {
    color: #FF851B;
    font-size: 2rem;
    letter-spacing: .2em;
    font-weight: 100;
}
