{% extends 'shared/base.html' %}

{% load static %}

{% block site_content %}
    <div class="jumbotron parent">
        <img style="width: 100%"
             src="{% static 'images/scan.jpg' %}"
             alt="">
        <div class="absolute">
            <h1 class="display-4">Welcome to Quote's Paradise</h1>
            <h2 class="lead">Finally, all quotes go digital</h2>
            <hr class="my-4">
            <div class="inner cover">
                <h1 class="cover-heading"></h1>
                <div class="row">
                    <div class="col-lg-6">
                        <p class="lead">To get maximum of our site<br><a href="{% url 'login' %}"
                                                                            class="btn btn-lg btn-secondary">Log in</a>
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <p class="lead">Get a free Quote's Paradise account to save your favorite quotes<br>
                            <a href="{% url 'register' %}" class="btn btn-lg btn-secondary">Register</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
